<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/select-page.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body id="indexBody">



  <div id="kolomLinks">
    <img src="/img/logoCFM.svg" alt="Logo C.F.M.">
    <div id="matrix" hx-get="/artworks/0?readonly" hx-trigger="load">
    </div>
    <a href="/create.html"><button class="important" id="createNew" type="button">Create new</button></a>

    <form id="startCountdown" action="/countdown" method="POST">
      <button id="countdownKnop" type="submit">Start countcown</button>
      <input type="time" id="inputCountdown" value="00:00"></input>
    </form>
  </div>

  <div id="kolomRechts">
    <ul id="artworks" hx-get="/artworks" hx-trigger="load">
    </ul>
  </div>
</body>

</html>
