<div id="matrix2">
	<div class="digit2" id="first">
		<div class="tl2 {{ config[0] }} upper2" id="T0"></div>
		<div class="tl2 {{ config[1] }} upright2" id="T1"></div>
		<div class="tl2 {{ config[2] }} lowright2" id="T2"></div>
		<div class="tl2 {{ config[3] }} lower2" id="T3"></div>
		<div class="tl2 {{ config[4] }} lowleft2" id="T4"></div>
		<div class="tl2 {{ config[5] }} upleft2" id="T5"></div>
		<div class="tl2 {{ config[6] }} middle2" id="T6"></div>
	</div>
	<div class="digit2" id="second">
		<div class="tl2 {{ config[7] }} upper2" id="T7"></div>
		<div class="tl2 {{ config[8] }} upright2" id="T8"></div>
		<div class="tl2 {{ config[9] }} lowright2" id="T9"></div>
		<div class="tl2 {{ config[10] }} lower2" id="T10"></div>
		<div class="tl2 {{ config[11] }} lowleft2" id="T11"></div>
		<div class="tl2 {{ config[12] }} upleft2" id="T12"></div>
		<div class="tl2 {{ config[13] }} middle2" id="T13"></div>
	</div>
	<div class="digit2" id="third">
		<div class="tl2 {{ config[14] }} upper2" id="T14"></div>
		<div class="tl2 {{ config[15] }} upright2" id="T15"></div>
		<div class="tl2 {{ config[16] }} lowright2" id="T16"></div>
		<div class="tl2 {{ config[17] }} lower2" id="T17"></div>
		<div class="tl2 {{ config[18] }} lowleft2" id="T18"></div>
		<div class="tl2 {{ config[19] }} upleft2" id="T19"></div>
		<div class="tl2 {{ config[20] }} middle2" id="T20"></div>
	</div>
	<div class="digit2" id="fourth">
		<div class="tl2 {{ config[21] }} upper2" id="T21"></div>
		<div class="tl2 {{ config[22] }} upright2" id="T22"></div>
		<div class="tl2 {{ config[23] }} lowright2" id="T23"></div>
		<div class="tl2 {{ config[24] }} lower2" id="T24"></div>
		<div class="tl2 {{ config[25] }} lowleft2" id="T25"></div>
		<div class="tl2 {{ config[26] }} upleft2" id="T26"></div>
		<div class="tl2 {{ config[27] }} middle2" id="T27"></div>
	</div>
	<div class="digit2" id="fifth">
		<div class="tl2 {{ config[28] }} upper2" id="T28"></div>
		<div class="tl2 {{ config[29] }} upright2" id="T29"></div>
		<div class="tl2 {{ config[30] }} lowright2" id="T30"></div>
		<div class="tl2 {{ config[31] }} lower2" id="T31"></div>
		<div class="tl2 {{ config[32] }} lowleft2" id="T32"></div>
		<div class="tl2 {{ config[33] }} upleft2" id="T33"></div>
		<div class="tl2 {{ config[34] }} middle2" id="T34"></div>
	</div>
	<div class="digit2" id="sixth">
		<div class="tl2 {{ config[35] }} upper2" id="T35"></div>
		<div class="tl2 {{ config[36] }} upright2" id="T36"></div>
		<div class="tl2 {{ config[37] }} lowright2" id="T37"></div>
		<div class="tl2 {{ config[38] }} lower2" id="T38"></div>
		<div class="tl2 {{ config[39] }} lowleft2" id="T39"></div>
		<div class="tl2 {{ config[40] }} upleft2" id="T40"></div>
		<div class="tl2 {{ config[41] }} middle2" id="T41"></div>
	</div>
</div>
