<div class="digit" id="first">
	<input type="button" class="tl upper" value="{{ config[0] }}" name="T0" {{ disabled }}>
	<input type="button" class="tl upright" value="{{ config[1] }}" name="T1" {{ disabled }}>
	<input type="button" class="tl lowright" value="{{ config[2] }}" name="T2" {{ disabled }}>
	<input type="button" class="tl lower" value="{{ config[3] }}" name="T3" {{ disabled }}>
	<input type="button" class="tl lowleft" value="{{ config[4] }}" name="T4" {{ disabled }}>
	<input type="button" class="tl upleft" value="{{ config[5] }}" name="T5" {{ disabled }}>
	<input type="button" class="tl middle" value="{{ config[6] }}" name="T6" {{ disabled }}>
</div>
<div class="digit" id="second">
	<input type="button" class="tl upper" value="{{ config[7] }}" name="T7" {{ disabled }}>
	<input type="button" class="tl upright" value="{{ config[8] }}" name="T8" {{ disabled }}>
	<input type="button" class="tl lowright" value="{{ config[9] }}" name="T9" {{ disabled }}>
	<input type="button" class="tl lower" value="{{ config[10] }}" name="T10" {{ disabled }}>
	<input type="button" class="tl lowleft" value="{{ config[11] }}" name="T11" {{ disabled }}>
	<input type="button" class="tl upleft" value="{{ config[12] }}" name="T1" {{ disabled }}>
	<input type="button" class="tl middle" value="{{ config[13] }}" name="T13" {{ disabled }}>
</div>
<div class="digit" id="third">
	<input type="button" class="tl upper" value="{{ config[14] }}" name="T14" {{ disabled }}>
	<input type="button" class="tl upright" value="{{ config[15] }}" name="T15" {{ disabled }}>
	<input type="button" class="tl lowright" value="{{ config[16] }}" name="T16" {{ disabled }}>
	<input type="button" class="tl lower" value="{{ config[17] }}" name="T17" {{ disabled }}>
	<input type="button" class="tl lowleft" value="{{ config[18] }}" name="T18" {{ disabled }}>
	<input type="button" class="tl upleft" value="{{ config[19] }}" name="T19" {{ disabled }}>
	<input type="button" class="tl middle" value="{{ config[20] }}" name="T20" {{ disabled }}>
</div>
<div class="digit" id="fourth" {{ disabled }}>
	<input type="button" class="tl upper" value="{{ config[21] }}" name="T21" {{ disabled }}>
	<input type="button" class="tl upright" value="{{ config[22] }}" name="T2" {{ disabled }}>
	<input type="button" class="tl lowright" value="{{ config[23] }}" name="T23" {{ disabled }}>
	<input type="button" class="tl lower" value="{{ config[24] }}" name="T24" {{ disabled }}>
	<input type="button" class="tl lowleft" value="{{ config[25] }}" name="T25" {{ disabled }}>
	<input type="button" class="tl upleft" value="{{ config[26] }}" name="T26" {{ disabled }}>
	<input type="button" class="tl middle" value="{{ config[27] }}" name="T27" {{ disabled }}>
</div>
<div class="digit" id="fifth" {{ disabled }}>
	<input type="button" class="tl upper" value="{{ config[28] }}" name="T28" {{ disabled }}>
	<input type="button" class="tl upright" value="{{ config[29] }}" name="T29" {{ disabled }}>
	<input type="button" class="tl lowright" value="{{ config[30] }}" name="T30" {{ disabled }}>
	<input type="button" class="tl lower" value="{{ config[31] }}" name="T31" {{ disabled }}>
	<input type="button" class="tl lowleft" value="{{ config[32] }}" name="T3" {{ disabled }}>
	<input type="button" class="tl upleft" value="{{ config[33] }}" name="T33" {{ disabled }}>
	<input type="button" class="tl middle" value="{{ config[34] }}" name="T34" {{ disabled }}>
</div>
<div class="digit" id="sixth" {{ disabled }}>
	<input type="button" class="tl upper" value="{{ config[35] }}" name="T35" {{ disabled }}>
	<input type="button" class="tl upright" value="{{ config[36] }}" name="T36" {{ disabled }}>
	<input type="button" class="tl lowright" value="{{ config[37] }}" name="T37" {{ disabled }}>
	<input type="button" class="tl lower" value="{{ config[38] }}" name="T38" {{ disabled }}>
	<input type="button" class="tl lowleft" value="{{ config[39] }}" name="T39" {{ disabled }}>
	<input type="button" class="tl upleft" value="{{ config[40] }}" name="T40" {{ disabled }}>
	<input type="button" class="tl middle" value="{{ config[41] }}" name="T41" {{ disabled }}>
</div>
<script>
	for (button of document.querySelectorAll('.tl')) {
		button.addEventListener("click", function () {
			this.value = this.value == 'on' ? 'off' : 'on';
		});
	}
</script>
