<div class="digit" id="first">
	<div class="tl upper"><input type="hidden" value="{{ config[0] }}" name="T0"></div>
	<div class="tl upright"><input type="hidden" value="{{ config[1] }}" name="T1"></div>
	<div class="tl lowright"><input type="hidden" value="{{ config[2] }}" name="T2"></div>
	<div class="tl lower"><input type="hidden" value="{{ config[3] }}" name="T3"></div>
	<div class="tl lowleft"><input type="hidden" value="{{ config[4] }}" name="T4"></div>
	<div class="tl upleft"><input type="hidden" value="{{ config[5] }}" name="T5"></div>
	<div class="tl middle"><input type="hidden" value="{{ config[6] }}" name="T6"></div>
</div>
<div class="digit" id="second">
	<div class="tl upper"><input type="hidden" value="{{ config[7] }}" name="T7"></div>
	<div class="tl upright"><input type="hidden" value="{{ config[8] }}" name="T8"></div>
	<div class="tl lowright"><input type="hidden" value="{{ config[9] }}" name="T9"></div>
	<div class="tl lower"><input type="hidden" value="{{ config[10] }}" name="T10"></div>
	<div class="tl lowleft"><input type="hidden" value="{{ config[11] }}" name="T11"></div>
	<div class="tl upleft"><input type="hidden" value="{{ config[12] }}" name="T12"></div>
	<div class="tl middle"><input type="hidden" value="{{ config[13] }}" name="T13"></div>
</div>
<div class="digit" id="third">
	<div class="tl upper"><input type="hidden" value="{{ config[14] }}" name="T14"></div>
	<div class="tl upright"><input type="hidden" value="{{ config[15] }}" name="T15"></div>
	<div class="tl lowright"><input type="hidden" value="{{ config[16] }}" name="T16"></div>
	<div class="tl lower"><input type="hidden" value="{{ config[17] }}" name="T17"></div>
	<div class="tl lowleft"><input type="hidden" value="{{ config[18] }}" name="T18"></div>
	<div class="tl upleft"><input type="hidden" value="{{ config[19] }}" name="T19"></div>
	<div class="tl middle"><input type="hidden" value="{{ config[20] }}" name="T20"></div>
</div>
<div class="digit" id="fourth">
	<div class="tl upper"><input type="hidden" value="{{ config[21] }}" name="T21"></div>
	<div class="tl upright"><input type="hidden" value="{{ config[22] }}" name="T22"></div>
	<div class="tl lowright"><input type="hidden" value="{{ config[23] }}" name="T23"></div>
	<div class="tl lower"><input type="hidden" value="{{ config[24] }}" name="T24"></div>
	<div class="tl lowleft"><input type="hidden" value="{{ config[25] }}" name="T25"></div>
	<div class="tl upleft"><input type="hidden" value="{{ config[26] }}" name="T26"></div>
	<div class="tl middle"><input type="hidden" value="{{ config[27] }}" name="T27"></div>
</div>
<div class="digit" id="fifth">
	<div class="tl upper"><input type="hidden" value="{{ config[28] }}" name="T28"></div>
	<div class="tl upright"><input type="hidden" value="{{ config[29] }}" name="T29"></div>
	<div class="tl lowright"><input type="hidden" value="{{ config[30] }}" name="T30"></div>
	<div class="tl lower"><input type="hidden" value="{{ config[31] }}" name="T31"></div>
	<div class="tl lowleft"><input type="hidden" value="{{ config[32] }}" name="T32"></div>
	<div class="tl upleft"><input type="hidden" value="{{ config[33] }}" name="T33"></div>
	<div class="tl middle"><input type="hidden" value="{{ config[34] }}" name="T34"></div>
</div>
<div class="digit" id="sixth">
	<div class="tl upper"><input type="hidden" value="{{ config[35] }}" name="T35"></div>
	<div class="tl upright"><input type="hidden" value="{{ config[36] }}" name="T36"></div>
	<div class="tl lowright"><input type="hidden" value="{{ config[37] }}" name="T37"></div>
	<div class="tl lower"><input type="hidden" value="{{ config[38] }}" name="T38"></div>
	<div class="tl lowleft"><input type="hidden" value="{{ config[39] }}" name="T39"></div>
	<div class="tl upleft"><input type="hidden" value="{{ config[40] }}" name="T40"></div>
	<div class="tl middle"><input type="hidden" value="{{ config[41] }}" name="T41"></div>
</div>
{% if not readonly %}
<script>
	function toggle(tl) {
		tl.firstChild.value = tl.firstChild.value == 'on' ? 'off' : 'on';
	}

	for (el of document.getElementsByClassName('tl')) {
		el.addEventListener("click", function () {
			toggle(this);
		});
	}
</script>
{% endif %}
