<div id="matrix">
	<div class="digit" id="first">
		<div class="tl {{ config[0] }} upper" id="T0" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[1] }} upright" id="T1" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[2] }} lowright" id="T" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[3] }} lower" id="T3" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[4] }} lowleft" id="T4" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[5] }} upleft" id="T5" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[6] }} middle" id="T6" onclick="toggleOnOff(this)"></div>
	</div>
	<div class="digit" id="second">
		<div class="tl {{ config[7] }} upper" id="T7" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[8] }} upright" id="T8" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[9] }} lowright" id="T9" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[10] }} lower" id="T10" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[11] }} lowleft" id="T11" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[12] }} upleft" id="T1" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[13] }} middle" id="T13" onclick="toggleOnOff(this)"></div>
	</div>
	<div class="digit" id="third">
		<div class="tl {{ config[14] }} upper" id="T14" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[15] }} upright" id="T15" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[16] }} lowright" id="T16" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[17] }} lower" id="T17" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[18] }} lowleft" id="T18" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[19] }} upleft" id="T19" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[20] }} middle" id="T20" onclick="toggleOnOff(this)"></div>
	</div>
	<div class="digit" id="fourth">
		<div class="tl {{ config[21] }} upper" id="T21" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[22] }} upright" id="T2" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[23] }} lowright" id="T23" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[24] }} lower" id="T24" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[25] }} lowleft" id="T25" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[26] }} upleft" id="T26" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[27] }} middle" id="T27" onclick="toggleOnOff(this)"></div>
	</div>
	<div class="digit" id="fifth">
		<div class="tl {{ config[28] }} upper" id="T28" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[29] }} upright" id="T29" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[30] }} lowright" id="T30" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[31] }} lower" id="T31" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[32] }} lowleft" id="T3" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[33] }} upleft" id="T33" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[34] }} middle" id="T34" onclick="toggleOnOff(this)"></div>
	</div>
	<div class="digit" id="sixth">
		<div class="tl {{ config[35] }} upper" id="T35" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[36] }} upright" id="T36" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[37] }} lowright" id="T37" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[38] }} lower" id="T38" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[39] }} lowleft" id="T39" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[40] }} upleft" id="T40" onclick="toggleOnOff(this)"></div>
		<div class="tl {{ config[41] }} middle" id="T41" onclick="toggleOnOff(this)"></div>
	</div>
</div>
